/* single and block line comment */

body{
    background-color: #3f2860;
    color: #40407a;
    font-family: Verdana,Arial, sans-serif;
}

header{
    background-image: url("Images/lilyheader.jpg");
    background-size: 100% 100%;
    text-align: left;
    height: 150px;
}

header a:link{
    text-decoration: none;
    display:block;
    color:#40407a;
}

header a:visited{
    text-decoration: none;
    display:block;
    color:#40407a;   
}

header a:hover{
    text-decoration: none;
    display:block;
    color: #fff;;
}

h1{
    line-height: 200%;
    padding-top: 50px;
    padding-left: 2em;
}

h2{
    font-size: 200%
}

nav{
    text-align: center;
    font-weight: bold;
    padding: 1em;
    float: left; 
    width:160px
}

nav a{
    text-decoration: none;
    display:block;
    text-align: center;
    border: #cccccc;
    border-width: 3px;
    padding: 1em;
    margin-bottom: 1em;

}

nav ul{
    list-style-type: none;
    padding: 0em;

}

nav a:link{color:#3f2860}
nav a:visited{color:#497777}
nav a:hover{color:#A26100;border:3px inset #333333}

footer{
    background-color: #80cbc4;
    font-size: .60em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

img{
    padding-left: 1em;
    padding-right: 1em;
}

main{
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    display:block;
    margin-left: 170px;
}

/* class */
.studio{
    color:#40407a;
    font-style:italic;
}

/* id styling */
#wrapper{
    margin-right: auto;  /*auto space evenly*/
    margin-left: auto;
    width: 80%;
    background-color: #f5f5f5;
    min-width: 1000px;
    max-width: 1280px;
}

#hero{
    text-align: center;
}

.floatleft{
    float:left;
    margin-right: 4em;
    margin-bottom: 1em;
}

.onehalf{
    float:left;
    width:50%;
    padding-left: 2em;
    padding-right: 2em;
}

.onethird{
    float:left;
    width:33%;
    padding-left: 2em;
    padding-right: 2em;
}

#clear{
    clear:both;

}

* {box-sizing: border-box;}