/* single and block line comment */

body{
    background-color: #f5f5f5;
    color: #40407a;
    font-family: Verdana,Arial, sans-serif;
}

header{
    background-image: url("Images/lilyheader.jpg");
    background-size: 100% 100%;
    text-align: left;
    height: 150px;
}

h1{
    line-height: 200%;
    padding-top: 50px;
    padding-left: 2em;
}

h2{
    font-size: 200%
}

nav{
    text-align: center;
    font-weight: bold;
    padding: 1em
}

nav a{
    text-decoration: none;
}

footer{
    background-color: #80cbc4;
    font-size: .60em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

img{
    padding-left: 1em;
    padding-right: 1em;
}

main{
    padding-left: 2em;
    padding-right: 2em;
    display:block;
}

/* class */
.studio{
    color:#40407a;
    font-style:italic;
}

/* id styling */
#wrapper{
    margin-right: auto;  /*auto space evenly*/
    margin-left: auto;
    width: 80%;
    background-color: #f5f5f5;
    min-width: 1000px;
    max-width: 1280px;
}

#hero{
    text-align: center;
}